*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaina 2', cursive;
}
body,.wrapper,.content{

   display:flex;
   align-items:center;
   justify-content: center;

}
body{
    min-height:100vh;
    background:#00582af6 ;
}
.wrapper{
 
    width:500px;
    background:#fff;
    border-radius:10px;
    flex-direction:column;
    padding:30px;
    box-shadow: -5px 10px 30px  black;
  
}
.wrapper img{
    max-width:90px;
}
.wrapper h1{
    font-size:35px;
    font-weight:600;
    margin:30px 0;
}
.wrapper .content{
    width:80%;
    justify-content: space-between;
}
.wrapper .content .disable{
    pointer-events: none;
    opacity:0.6;
}



.content .column{
  border-radius: 5px;
  padding:0px 10px;
  border:1px solid #5a5a5a;
  width:calc(100% / 2 - 5px);
  /* box-shadow: 0px 0px 5px black; */
  margin:10px;
}
.column select{
    outline:none;
    border:none;
    height:30px;
    width:100%;
    font-size:15px;
    
    
}
.wrapper button{
    width:80%;
    margin-top:20px;
    font-size:25px;
    padding-inline:15px; 
     border-radius:10px;
     background:#00582af6;
     color:white;
     box-shadow: 0px 0px 10px #000;
     transition: 0.2s 0s ease;
}


button:hover{
    transform: scale(0.9);
}